@header-min-height: 60px;
@footer-min-height: 40px;

@rooms-box-width: 260px;
@flex-tab-width: 260px;
@flex-tab-webrtc-width: 260px;
@flex-tab-webrtc-2-width: 800px;

// Colors
// --------------

//@primary-background-color: #045080;
//@primary-background-color: #38393d;

@light-green: #BCEBCB;
@light-tan: #fdf7f2;

@primary-blue: #546A76;
@primary-green: #2ECC71;
@primary-red: #F06475;
@secondary-blue: #9BC4F2;

@primary-background-color: @primary-blue;
@secondary-background-color: @light-tan;
@tertiary-background-color: @light-green;

@link-font-color: #008CE3;

@primary-font-color: @light-tan;
@secondary-font-color: @primary-blue;
@tertiary-font-color: @primary-blue;
@quaternary-font-color: @primary-blue;
@info-font-color: #A7AAA4;

@status-online: @primary-green;
@status-offline: #7f7f7f;
@status-busy: #D30230;
@status-away: #fcb316;
