<template name="calendarPage">
  <div class="calendar-container">
    {{> fullcalendar options }}
    <button type="button" class="show-add-event button white red-border" data-toggle="modal" data-target="#eventModal">new item</button>
  </div>
  <div id="eventModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Event</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="form-group col-md-12">
              <label for="text">Title:</label>
              <input type="text" class="form-control" id="event-title">
            </div>
          </div>
          <div class="row">
            <div class='col-md-6'>
              <label for="start-date">Start Date:</label>
              <div class="input-group datetimepicker">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input class="set-due-date form-control" id="start-date" type="text"/>
              </div>
            </div>
            <div class='col-md-6'>
              <label for="end-date">End Date:</label>
              <div class="input-group datetimepicker">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input class="set-due-date form-control" id="end-date" type="text"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label for="description">Description:</label>
              <textarea class="form-control" id="event-description" rows="4"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="button white light-blue-border primary add-event-click" data-dismiss="modal">Add</button>
          <button type="button" class="button white red-border cancel-add-event" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>
