<template name="fileDetailsPage">
  <div class="fileDetailsPage">
    <div class="file-list-container">     
      <div class="files-list">
        {{#each file}}
          <div class="file">
            <i class="{{icon type}}"></i>
            <span class="filename">{{name}}</span>
            <a href="{{url}}" target="_blank"><i class="icon-cloud-download"></i></a>
            <span class="username">{{user.username}}</span>
            <span class="date">{{cleanDate date}}</span>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</template>
