<template name="room">
	<section class="messages-container" id="{{windowId}}">
		<header class="fixed-title">
			{{> burger}}
		  <!-- <i class="{{roomIcon}} status-{{userStatus}}"></i> -->
			{{#if back}}
				<div class="back">
					<i class="fa fa-arrow-left back-button"></i> <span class="back-text">Back</span>
				</div>
			{{/if}}
			<h2>
				<span class="room-title {{editingTitle}}">{{roomName}}</span>
				{{#if canEditName}}
				<input type="text" id="room-title-field" class="{{showEditingTitle}}" value="{{roomNameEdit}}" dir="auto">
				<a href="#edit" class="edit-room-title"><i class="icon-pencil"></i></a>
				{{/if}}
			</h2>
			{{> rightBurger}}
		</header>
		{{#if thread}}
			{{> threadPage}}
		{{else}}
			{{#if classroom}}
				{{> classroomPage}}
			{{else}}
				{{#if calendar}}
					{{> calendarPage}}
				{{else}}
					{{#if files}}
						{{> filesPage}}
					{{else}}
						{{#if profile}}
							{{> userProfile}}
						{{else}}
							{{#if fileDetails}}
								{{> fileDetailsPage}}
							{{else}}
								{{#if calendarItemDetails}}
									{{> calendarItemDetailsPage}}
								{{else}}
									{{#if fileHistory}}
										{{> fileHistoryPage}}
									{{/if}}
								{{/if}}
							{{/if}}
						{{/if}}
					{{/if}}
				{{/if}}
			{{/if}}
		{{/if}}
	</section>
	{{#if otherRoomTypeShow}}
		<div class="other-name-header">
			<h2>
				<span class="room-title">{{otherRoomType}} {{otherName}}</span>
			</h2>
		</div>
	{{/if}}
	<div class="room-icons">
		<div class="icon-container">
			{{{roomIcons}}}
		</div>
	</div>
</template>
