<template name="room">
	<section class="messages-container" id="{{windowId}}">
		<header class="fixed-title">
			{{> burger}}
		  <!-- <i class="{{roomIcon}} status-{{userStatus}}"></i> -->
			<div class="room-icons">
				<div class="icon-container">
					<i class="icon-home"><label class="tab-label classroom">Classroom</label></i>
					<i class="icon-list"><label class="tab-label thread">Thread</label></i>
					<i class="icon-docs"><label class="tab-label files">Files</label></i>
					<i class="icon-calendar"><label class="tab-label cal">Cal</label></i>
				</div>
			</div>
			<h2>
				<span class="room-title {{editingTitle}}">{{roomName}}</span>
				{{#if canEditName}}
				<input type="text" id="room-title-field" class="{{showEditingTitle}}" value="{{roomNameEdit}}" dir="auto">
				<a href="#edit" class="edit-room-title"><i class="icon-pencil"></i></a>
				{{/if}}
			</h2>
			{{> rightBurger}}
		</header>
		{{#if userProfile}}
			<div class="user-view animated{{#unless $.Session.get 'showUserInfo'}} -hidden{{/unless}}">
				{{> userInfo user=flexUserInfo showAll=true video=isDirectChat}}
			</div>
		{{/if}}
		{{#if thread}}
			{{> threadPage}}
		{{else}}
			{{#if classroom}}
				{{> classroomPage}}
			{{else}}
				{{#if calendar}}
					{{> calendarPage}}
				{{else}}
					{{#if files}}
						{{> filesPage}}
					{{/if}}
				{{/if}}
			{{/if}}
		{{/if}}
	</section>
</template>
