<template name="landingPage">

	<div class="landing-page">

		<header>
			<div class="container">

				<div class="logo"><a href="">ClassMash</a></div>

				<div class="nav-items">
					<a href="">About</a>
					<a href="">Contact</a>
					<a href="">Login</a>
					<a class="sign-up" href="">Sign-up</a>
				</div>

			</div> <!-- end .container -->
		</header>

		<section class="hero">
			<div class="container">

					<div class="text">

						<h1>Your class is here</h1>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>

						<div class="btn-group">
							<a class="landing-btn" href="">Sign-up</a>
							<a class="landing-btn ghost" href="">Learn more</a>
						</div>

					</div> <!-- end .text -->

					<div class="browser">
						<div class="buttons"></div>

					</div> <!-- end .browser -->

			</div> <!-- end .container -->
		</section> <!-- end .hero -->

		<section class="who">

			<h2>Who uses ClassMash?</h2>

			<div class="container">

					<div class="left">
						<h3>Connect with peers</h3>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
					</div>

					<div class="venn">
						<div class="venn-circle">Students</div>
						<div class="venn-circle">Teachers</div>
					</div>

					<div class="right">
						<h3>Connect with students</h3>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
					</div>

			</div> <!-- end .container -->

		</section> <!-- end .who -->

		<section class="features">

		</section>

	</div><!-- end .landing-page -->

</template>
